<div id="<%= dom_id training %>">
  <p>
    <strong>Date:</strong>
    <%= training.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= training.location %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= training.notes %>
  </p>

</div>
