<h1>Welkom bij Hardlopen met Virgil</h1>

<p><%= simple_format(@body) %></p>

<p><strong>Inloggegevens</strong><br>
E-mailadres: <%= @user.email %><br>
Tijdelijk wachtwoord: <%= @password %></p>

<p>Je kunt inloggen via <a href="https://hardlopen.metvirgil.nl/login">https://hardlopen.metvirgil.nl/login</a>.</p>





