<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Hoofdtrainer:</strong>
    <%= group.hoofdtrainer&.email || 'Geen hoofdtrainer' %>
  </p>

  <p>
    <strong>Medetrainer:</strong>
    <%= group.medetrainer&.email || 'Geen medetrainer' %>
  </p>

</div>
