<div id="<%= dom_id drill %>">
  <p>
    <strong>Name:</strong>
    <%= drill.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= drill.description %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= drill.video_url %>
  </p>

</div>
