<div id="<%= dom_id route %>">
  <p>
    <strong>Name:</strong>
    <%= route.name %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= route.distance %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= route.description %>
  </p>

</div>
