<div id="<%= dom_id training_route %>">
  <p>
    <strong>Training:</strong>
    <%= training_route.training_id %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= training_route.route_id %>
  </p>

</div>
