<h1>Editing training route</h1>

<%= render "form", training_route: @training_route %>

<br>

<div>
  <%= link_to "Show this training route", @training_route %> |
  <%= link_to "Back to training routes", training_routes_path %>
</div>
