<div id="<%= dom_id training_drill %>">
  <p>
    <strong>Training:</strong>
    <%= training_drill.training_id %>
  </p>

  <p>
    <strong>Drill:</strong>
    <%= training_drill.drill_id %>
  </p>

</div>
