<h1>Editing training drill</h1>

<%= render "form", training_drill: @training_drill %>

<br>

<div>
  <%= link_to "Show this training drill", @training_drill %> |
  <%= link_to "Back to training drills", training_drills_path %>
</div>
