<p style="color: green"><%= notice %></p>

<h1>Training drills</h1>

<div id="training_drills">
  <% @training_drills.each do |training_drill| %>
    <%= render training_drill %>
    <p>
      <%= link_to "Show this training drill", training_drill %>
    </p>
  <% end %>
</div>

<%= link_to "New training drill", new_training_drill_path %>
