<div id="<%= dom_id attendance %>">
  <p>
    <strong>User:</strong>
    <%= attendance.user_id %>
  </p>

  <p>
    <strong>Training:</strong>
    <%= attendance.training_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= attendance.status %>
  </p>

</div>
