<h1>Gemiddelde Anaerobe Drempel van Lopers</h1>
<p>Onderstaande lijst toont alle actieve lopers, gesorteerd van snel naar langzaam (laagste AD bovenaan).</p>

<table class="dark-bg" style="width:100%; max-width:600px; margin-top:2em; background:#222; color:#fff; border-radius:10px; overflow:hidden;">
  <thead>
    <tr style="background:#333; color:#6ee75a;">
      <th style="padding:0.7em 1em; text-align:left;">Naam</th>
      <th style="padding:0.7em 1em; text-align:left;">Gemiddelde AD</th>
    </tr>
  </thead>
  <tbody>
    <% @lopers.each do |loper| %>
      <tr style="border-bottom:1px solid #444;">
        <td style="padding:0.7em 1em;"><%= loper.name %></td>
        <td style="padding:0.7em 1em;"><%= loper.gemiddelde_ad %></td>
      </tr>
    <% end %>
  </tbody>
</table> 