<h1>Tijden registreren</h1>
<p>Voeg hier een tijd toe voor jezelf of een andere loper. Vul alle velden in en kies de juiste loper.</p>
<div style="max-width: 500px;">
  <%= render 'performances/form', performance: @performance %>
</div> 