<h1>Alle verjaardagen</h1>
<table style="width:100%; border-collapse:collapse; max-width:600px;">
  <thead>
    <tr style="background:#f0f4f8;">
      <th style="text-align:left; padding:8px;">Naam</th>
      <th style="text-align:left; padding:8px;">Datum</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_birthdays.each do |user| %>
      <tr>
        <td style="text-align:left; padding:8px;"><%= user.name %></td>
        <td style="text-align:left; padding:8px;"><%= user.birthday.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table> 