<h1>Editing performance</h1>

<%= render "form", performance: @performance %>

<br>

<div>
  <%= link_to "Show this performance", @performance %> |
  <%= link_to "Back to prestaties", user_path(@performance.user_id) %>
</div>
